<br/>
<br/>
<h1 style="text-align: center">Posts</h1>


<% @posts.each do |post| %>
	<div class= "booyah-box col-xs-10 col-xs-offset-1">
		<h2><%= link_to post.title, post_path(post) %></h2><br/>
		<% if post.user.present? %>
			<i>Author: <%= post.user.first_name %> <%= post.user.last_name %></i>
		<% end %>
	</div>
<% end %>

