<br/>
<br/>
<h1 style="text-align: center">Messages</h1>


<% @posts.each do |post| %>
	<div class= "booyah-box col-xs-10 col-xs-offset-1">
		<h3><%= post.title %></h3>
		<p><%= post.body %></p>
		<% if post.user.present? %>
			<i>-<%= post.user.email %></i>
		<% end %>
	</div>
<% end %>

